// ######################################## //
// ## COLORS.SCSS ## //
// ######################################## //

// Black (Gray) Color Shades
$black: #000000;
$gray-1: #111111;
$gray-2: #222222;
$gray-3: #333333;
$gray-4: #444444;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;
$gray-a: #aaaaaa;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$white: #ffffff;
$white-e7:#e7e6e7;
$gray-f9: #f9f9f9;
$gray-f5: #f5f5f5;
$blue-light: #eff0fe;
$gray-a7: #a7a7a7;
$gray-cb: #CBC6C6;
$gray-4c: #4c4c4c;
$gray-3e: #3e3e3e;
$gray-f4d: #ffffff4d;
$gray-fd: #fdfdfd;
$gray-2c: #2c2c2c;
$gray-70: #707070;
$gray-65: #656565;
$gray-28: #282828;
$gray-F3: #F3F3F3;
$black-40: #403E3E;
$black-1c:#1c1b1b;
$gray-18:#181818;
$gray-19:#191919;
$gray-16:#161515;
$gray-0d:#0d0d0d;
$gray-bf:#BFBFBF;
$gray-20:#201F1F;
$gray-4F:#4F4F4F;
$gray-37:#373737;
$gray-ef: #EFEFEF;
$gray-32:#323f4a;
$black29: #292929;
// Text colors
$text-secondary: #ccd1d7;
$subtextColor: #a3adb7;
$textmuted: #617183;
$textLight: #e0e3e7;

// Theme Based
$bodycolor: #001a37;
$theme-primary: #001a37;
$theme-secondary: #004799;
$accent1: #fb78ff;
$accent2: #f8cf61;
$theme-yellow: #ffc640;
$theme-pink: #ff85b3;
$theme-yellow-E8: #E8B016;
$theme-orange-A16: #E86A16;
$theme-sky-4B: #4BB7FA;

// Other Color Shades
$theme-success: #4aae8c;
$theme-dark: #25282b;
$theme-info: #9c6dff;
$theme-warning: #f59e0b;
$theme-yellow-F2:#f28823 ;
$theme-yellow-f5:#f5b82a;
$theme-green: #36942f;
$theme-warning-light: #fef6e0;
$theme-danger: #cf3701;
$theme-cyan: #35d2cc;
$theme-link: #004b8f;
$theme-blue: #50abed;
$theme-red-da: #DA291C;
$theme-red-ff:#ff0000;
$theme-pink-da: #DA291C4D;
$theme-darkred-57:#57100b;